In [1]:
import pandas as pd
import numpy as np

In [3]:
f=pd.read_csv("C:\\Users\\Acer\\PycharmProjects\\BTech_Project\\data_csv\\3 data set containing all points\\7 Combined files\\combined_dataset.csv")
df=pd.DataFrame(f)
df

,Unnamed: 0,Date,event,solAp,solKp,solf10p7Daily,time,tpaltitude,tplatitude,tplongitude,tpSolarZen,ktemp,density,O3_96,O3_127,ae_index,dst_index,sym_h,O3_density,col_den
0,0,1,1,12,2.7,139.2,3078387,109.423233,14.263371,19.487509,144.744781,276.894592,2.299960e+12,1.630000e-07,--,310,-19,-9,3.748935e+05,1.953871e+10
1,1,1,1,12,2.7,139.2,3078253,108.320251,14.260718,19.462215,144.769547,281.274963,2.555530e+12,1.630000e-07,--,310,-19,-9,4.165514e+05,1.953871e+10
2,2,1,1,12,2.7,139.2,3078119,107.216278,14.258057,19.436920,144.794327,279.596130,2.901220e+12,1.630000e-07,--,310,-19,-9,4.728989e+05,1.953871e+10
3,3,1,1,12,2.7,139.2,3077987,106.111176,14.255451,19.411634,144.819092,275.584045,3.328930e+12,1.630000e-07,--,310,-19,-9,5.426156e+05,1.953871e+10
4,4,1,1,12,2.7,139.2,3077851,105.004166,14.252700,19.386330,144.843872,275.164887,3.777170e+12,1.630000e-07,--,310,-19,-9,6.156787e+05,1.953871e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3017503,3017503,30,96,17,4.0,111.4,90231670,75.405930,-3.691292,329.487701,152.170960,211.435822,6.621610e+14,2.920000e-07,--,113,-5,-6,1.933510e+08,8.241677e+09
3017504,3017504,30,96,17,4.0,111.4,90231830,74.268173,-3.689023,329.512665,152.183365,214.712189,7.787660e+14,3.990000e-07,--,113,-5,-6,3.107276e+08,8.241677e+09
3017505,3017505,30,96,17,4.0,111.4,90231976,73.129532,-3.687521,329.537445,152.194946,213.038940,9.364770e+14,6.240000e-07,--,113,-5,-6,5.843616e+08,8.241677e+09
3017506,3017506,30,96,17,4.0,111.4,90232062,71.989670,-3.689300,329.561585,152.203140,204.414856,1.170340e+15,1.010000e-06,--,113,-5,-6,1.182043e+09,8.241677e+09
3017507,3017507,30,96,17,4.0,111.4,90232190,70.848114,-3.688805,329.586151,152.213654,197.334351,1.465360e+15,1.470000e-06,--,113,-5,-6,2.154079e+09,8.241677e+09

In [48]:
df_new=pd.DataFrame()
df_new

Empty DataFrame
Columns: []
Index: []

In [49]:
col_den=df["col_den"][0]
i=0
while i<len(df["event"])-1:
    j=i
    count=0
    L=np.zeros((1,len(df.columns)),dtype=float)
    while df["col_den"][j]==col_den:
        if j%1e5==0:
            print(j)
        for k in range(L.shape[1]):
            col=df.columns[k]
            if col=="O3_127":
                continue
            L[0][k]+=float(df[col][j])
        j+=1
        count+=1
    L=L/count
    col_den=df["col_den"][j]
    dt=L.tolist()
    df_new=df_new.append(dt)
    i=j

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000

KeyError: 3017508

In [50]:
df_new.to_csv("C:\\Users\\Acer\\PycharmProjects\\BTech_Project\\data_csv\\3 data set containing all points\\7.2 Combined files (Type 2)\\combined_dataset_new.csv")

1000000.0