In [1]:
import pandas as pd

In [9]:
dates1=[]
for i in range(1,10,1):
    dates1.append(f"0{i}")
dates1.append("10")

dates2=[]
for i in range(11,21,1):
    dates2.append(f"{i}")
    
dates3=[]
for i in range(21,31,1):
    dates3.append(f"{i}")

In [17]:
L1=[]
L2=[]
L3=[]
for date in dates1:
    f=pd.read_csv(f"C:\\Users\\Acer\\PycharmProjects\\BTech_Project\\data_csv\\collecting data in required altitude range\\5 with O3 density and log O3 density\\{date}_with_O3den.csv")
    df=pd.DataFrame(f)
    L1.append(df)
for date in dates2:
    f=pd.read_csv(f"C:\\Users\\Acer\\PycharmProjects\\BTech_Project\\data_csv\\collecting data in required altitude range\\5 with O3 density and log O3 density\\{date}_with_O3den.csv")
    df=pd.DataFrame(f)
    L2.append(df)
for date in dates3:
    f=pd.read_csv(f"C:\\Users\\Acer\\PycharmProjects\\BTech_Project\\data_csv\\collecting data in required altitude range\\5 with O3 density and log O3 density\\{date}_with_O3den.csv")
    df=pd.DataFrame(f)
    L3.append(df)
combined_file_1 = pd.concat(L1, axis=0, ignore_index=True)
combined_file_2 = pd.concat(L2, axis=0, ignore_index=True)
combined_file_3 = pd.concat(L3, axis=0, ignore_index=True)
combined_file_1.to_csv(f"C:\\Users\\Acer\\PycharmProjects\\BTech_Project\\data_csv\\collecting data in required altitude range\\6 combined dataset\\combined_dataset_1.csv")
combined_file_2.to_csv(f"C:\\Users\\Acer\\PycharmProjects\\BTech_Project\\data_csv\\collecting data in required altitude range\\6 combined dataset\\combined_dataset_2.csv")
combined_file_3.to_csv(f"C:\\Users\\Acer\\PycharmProjects\\BTech_Project\\data_csv\\collecting data in required altitude range\\6 combined dataset\\combined_dataset_3.csv")

In [21]:
f1=pd.read_csv("C:\\Users\\Acer\\PycharmProjects\\BTech_Project\\data_csv\\collecting data in required altitude range\\6 combined dataset\\combined_dataset_1.csv")
f2=pd.read_csv("C:\\Users\\Acer\\PycharmProjects\\BTech_Project\\data_csv\\collecting data in required altitude range\\6 combined dataset\\combined_dataset_2.csv")
f3=pd.read_csv("C:\\Users\\Acer\\PycharmProjects\\BTech_Project\\data_csv\\collecting data in required altitude range\\6 combined dataset\\combined_dataset_3.csv")
df1=pd.DataFrame(f1)
df2=pd.DataFrame(f2)
df3=pd.DataFrame(f3)
combined_file = pd.concat([df1,df2,df3], axis=0, ignore_index=True)
combined_file.to_csv(f"C:\\Users\\Acer\\PycharmProjects\\BTech_Project\\data_csv\\collecting data in required altitude range\\6 combined dataset\\combined_dataset.csv")


print(len(df1["event"]))
print(len(df2["event"]))
print(len(df3["event"]))
print(len(df1["event"])+len(df2["event"])+len(df3["event"]))

384007
382821
370784
1137612

In [22]:
f1=pd.read_csv("C:\\Users\\Acer\\PycharmProjects\\BTech_Project\\data_csv\\collecting data in required altitude range\\6 combined dataset\\combined_dataset.csv")
df1=pd.DataFrame(f1)
df1

,Unnamed: 0,event,solAp,solKp,solf10p7Daily,time,tpaltitude,tplatitude,tplongitude,tpSolarZen,ktemp,density,O3_96,O3_127,ae_index,dst_index,sym_h,O3_density,log_O3_density
0,0,1,12,2.7,139.2,3078432,109.790665,14.264304,19.495945,144.736511,275.739075,2.220000e+12,1.630000e-07,--,310,-19,-9,3.618600e+05,5.558541
1,1,1,12,2.7,139.2,3078074,106.848053,14.257148,19.428486,144.802582,277.935364,3.040000e+12,1.630000e-07,--,310,-19,-9,4.955200e+05,5.695061
2,2,1,12,2.7,139.2,3077718,103.896179,14.250077,19.361042,144.868637,273.763123,4.310000e+12,3.730000e-07,--,310,-19,-9,1.607630e+06,6.206186
3,3,1,12,2.7,139.2,3077360,100.936600,14.242891,19.293587,144.934708,223.300751,7.650000e+12,5.360000e-06,--,310,-19,-9,4.100400e+07,7.612826
4,4,1,12,2.7,139.2,3077005,97.969925,14.235822,19.226154,145.000763,178.991531,1.550000e+13,1.040000e-05,--,310,-19,-9,1.612000e+08,8.207365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137607,1137607,96,17,4.0,111.4,90230639,84.467575,-3.696014,329.290833,152.084992,196.173935,1.635580e+14,1.540000e-06,--,113,-5,-6,2.514591e+08,8.400467
1137608,1137608,96,17,4.0,111.4,90230992,81.455841,-3.693944,329.356567,152.114288,197.464157,2.701100e+14,3.540000e-07,--,113,-5,-6,9.562109e+07,7.980554
1137609,1137609,96,17,4.0,111.4,90231274,78.435059,-3.695732,329.421478,152.139481,211.559601,4.109320e+14,8.840000e-08,--,113,-5,-6,3.632797e+07,7.560241
1137610,1137610,96,17,4.0,111.4,90231670,75.405930,-3.691292,329.487701,152.170960,211.435822,6.621610e+14,2.920000e-07,--,113,-5,-6,1.935350e+08,8.286760
1137611,1137611,96,17,4.0,111.4,90232034,72.369797,-3.688680,329.553528,152.200440,207.541962,1.084020e+15,8.660000e-07,--,113,-5,-6,9.387643e+08,8.972557